RewriteEngine on  #start the rewrite engine


# this condition saves us from going directly to a file
# cette condition nous evite d'aller direcetement sur un fichier
RewriteCond %{REQUEST_FILENAME} !-f

# this condition saves us from going directly to a folder
# cette condition nous evite d'aller direcetement sur un dossier
RewriteCond %{REQUEST_FILENAME} !-d


# means everything in url and will be replaced by $1
# ^(.*)$ signifie tout ce qui se trouve dans url et va être remplacé par $1
RewriteRule ^(.*)$ index.php?url=$1