.home-bg{
	height: 100vh;
}

.home-bg img{
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	width: 100%;
}

.home-content{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: rgb(0,0,0,0.6);
}

.navbar-brand{
	background: #dd8d8d;
	padding: 15px 10px;
	border-radius: 100px;
}

.decorRoad{
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	border-bottom-left-radius: 45%;
	border-bottom-right-radius: 45%;
}

.decorRoad-content{
	margin-bottom: 300px;
}

@media (max-width: 992px) {
	.decorRoad-content{
	margin-bottom: 200px;
    }

    .decorRoad-content h2{
    	font-size: 30px;
    }

    .home-content-hero .title h1{
		font-size: 45px;
		margin-top: 30%;
    }
}

.getMeTouch{
	border: 1px solid white;
	border-radius: 100px;
	width: 100px;
	margin: auto;
}

.getMeTouch:hover{
	background: rgb(0,0,0,0.8);
	border: 1.5px solid white;
	cursor: pointer;
}

.fa-chevron-circle-down{
	padding-left: 40px;
}

.home-content-hero .title{
	margin-top: 30%;
}

.home-content-hero h1{
	font-size: 60px;
}

.contact-content{
	background-image: url(OK2OLC0.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.contact-content .bg{
	background: rgb(0,0,0,0.7);
}